{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
        <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img style="width: 100px" src="{% static "course.png" %}" alt="Add Student"/>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-top: 10%">
                                    <p>Add Course</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <a href="/add_course">
                              <div class="panel-footer announcement-bottom">
                                <div class="row">
                                  <div class="col-xs-6">
                                 
                                  </div>
                                  <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right">   Add ></i>
                                  </div>
                                </div>
                              </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <img style="width: 100px" src="{% static "a.png" %}" alt="Add Student"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers" style="margin-top: 10%">
                        <p>Add Student</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/addstudent/">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">
                     
                      </div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right">   Add ></i>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div>  <div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <img style="width: 100px" src="{% static "Train.png" %}" alt="Add Student"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers" style="margin-top: 10%">
                        <p>Train</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/train/">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">
                     
                      </div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right">Train Data ></i>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div> 
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <img style="width: 100px" src="{% static "rec.png" %}" alt="Add Student"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers" style="margin-top: 10%">
                        <p>rec</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/rec/">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">
                     
                      </div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right">Rec ></i>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div> 
<div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <img style="width: 100px" src="{% static "att.png" %}" alt="Add Student"/>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers" style="margin-top: 10%">
                            <p>Taken Attendance</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a href="/takenatt/">
                      <div class="panel-footer announcement-bottom">
                        <div class="row">
                          <div class="col-xs-6">
                         
                          </div>
                          <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right">Attendance</i>
                          </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
</div>
        <div class="container">
        {{ faces  }}
        {{ label  }}

        </div>
        
{% endblock %}