{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
        <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img style="width: 100px" src="{% static "course.png" %}" alt="Add Student"/>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-top: 10%">
                                    <p>Add</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <a href="/addstudent" style="color:#7bd7bf">
                              <div class="panel-footer announcement-bottom">
                                <div class="row">
                                  <div class="col-xs-6">
                                 
                                  </div>
                                  <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right">   Students ></i>
                                  </div>
                                </div>
                              </div>
                            </a>
                            <a href="/add_course/" style="color:#7bd7bf">
                                <div class="panel-footer announcement-bottom">
                                  <div class="row">
                                    <div class="col-xs-6">
                                   
                                    </div>
                                    <div class="col-xs-6 text-right">
                                      <i class="fa fa-arrow-circle-right">   Lecturers ></i>
                                    </div>
                                  </div>
                                </div>
                              </a>
                        </div>
                    </div>
                </div>
            </div> 
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <img style="width: 100px" src="{% static "Train.png" %}" alt="Add Student"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers" style="margin-top: 10%">
                        <p>Train Using LBPH</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/train/" style="color:#7bd7bf">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">
                     
                      </div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right">Students ></i>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/Lec/" style="color:#7bd7bf">
                    <div class="panel-footer announcement-bottom">
                      <div class="row">
                        <div class="col-xs-6">
                       
                        </div>
                        <div class="col-xs-6 text-right">
                          <i class="fa fa-arrow-circle-right">Lecturers ></i>
                        </div>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
    </div>
</div> 
<div class="col-lg-3 col-sm-6">
  <div class="card">
      <div class="content">
          <div class="row">
              <div class="col-xs-5">
                  <div class="icon-big icon-warning text-center">
                      <img style="width: 100px" src="{% static "Train.png" %}" alt="Add Student"/>
                  </div>
              </div>
              <div class="col-xs-7">
                  <div class="numbers" style="margin-top: 10%">
                      <p>Train using Eigen</p>
                  </div>
              </div>
          </div>
          <div class="footer">
              <a href="/traineigen/" style="color:#7bd7bf">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                   
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right">Students ></i>
                    </div>
                  </div>
                </div>
              </a>
             
          </div>
      </div>
  </div>
</div> 
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <img style="width: 100px" src="{% static "rec.png" %}" alt="Add Student"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers" style="margin-top: 10%">
                        <p>Student Details</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/asd/" style="color:#7bd7bf">
                  <div class="panel-footer announcement-bottom">
                    <div class="row">
                      <div class="col-xs-6">
                     
                      </div>
                      <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right">View Attendance</i>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div> 
<div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <img style="width: 100px" src="{% static "att.png" %}" alt="Add Student"/>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers" style="margin-top: 10%">
                            <p>Take Attendance</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a href="/takenatt/" style="color:#7bd7bf">
                      <div class="panel-footer announcement-bottom">
                        <div class="row">
                          <div class="col-xs-6">
                         
                          </div>
                          <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right">Attendance</i>
                          </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
</div>
        <div class="container">
        {{ faces  }}
        {{ label  }}

        </div>
        
{% endblock %}